.formularioContacto {
    margin-left: 5px;
    margin-right: 5px;
}

div textarea {
    height: 150px;
    width: 100%;
}

.enviar {
    text-align: center;
    margin-bottom: 10px;
}

.botonEnviar {
    background-color: $color3;
    border: none;
}

.botonEnviar:hover {
    color: $color3;
    background-color: $color1;
    border: 2px solid $color3;
}