.giftCard{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    div{
        width: 400px;
        height: 400px;
        margin-bottom: 50px;
        margin-top: 40px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
@media only screen and (min-width:900px) and (max-width: 1200px) {
    .giftCard{
        div{
            width: 300px;
            height: 300px;
        }
    }
}