.igProd {
    text-align: right;
    
    a {
    text-decoration: none;
    text-align: right;
    width: 100%;
        img{
            width: 25px;
            height: auto;
            padding-bottom: 2px;
        }
    }
}

.instagramProductos {
    grid-area: instagram;
    font-size: 22px;
    text-align: left;
    padding-right: 8px;
    font-family: $letra;
    font-style: italic;
    color: $color2;
    display: inline-block;

}
.productos{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    .producto{
        width: 100%;
        height: 430px;
        // background-color: aqua;
        // border: 2px solid black;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 20px;
        .imgProducto{
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            img{
                width:auto;
                height: 95%;
            }
        }
        .datosProducto{
            height: 20%;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
           .nombreProducto{
            text-align: center;
               p{
                   margin-bottom: 0%;
                   line-height: 1.3;
               }
               .nombreP{
                   font-family: $letra2;
                   font-size: 20px;
               }
               .precio{
                    color:$cletra3;
               }
        
           }
           .agregar{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 5px;
            p{
                font-family: $letra;
                border-radius:  10px;
                border: solid $colorMenu;
                padding-left: 2px;
                padding-right: 2px;
                margin-top: 2px;
            }
            p:hover{
                transform: scale(1.10);
                transition: all 0.5s;
            }
           }
        }
    }
}